[submodule "nbd"]
	path = nbd
	url = https://github.com/dingodb/curve-nbd.git
[submodule "thirdparties/rocksdb/rocksdb"]
	path = third-party/rocksdb
	url = https://github.com/facebook/rocksdb
[submodule "thirdparties/memcache/libmemcached-1.1.2"]
	path = third-party/memcache
	url = https://github.com/awesomized/libmemcached
[submodule "thirdparties/libfiu/libfiu"]
	path = third-party/libfiu
	url = https://github.com/albertito/libfiu
[submodule "thirdparties/brpc/brpc"]
	path = third-party/brpc
	url = https://github.com/dingodb/brpc
[submodule "thirdparties/braft/braft"]
	path = third-party/braft
	url = https://github.com/dingodb/braft
[submodule "third-party/zlib"]
	path = third-party/zlib
	url = https://github.com/madler/zlib
[submodule "third-party/protobuf"]
	path = third-party/protobuf
	url = https://github.com/protocolbuffers/protobuf
[submodule "third-party/googletest"]
	path = third-party/googletest
	url = https://github.com/google/googletest
[submodule "third-party/glog"]
	path = third-party/glog
	url = https://github.com/google/glog
[submodule "third-party/gflags"]
	path = third-party/gflags
	url = https://github.com/gflags/gflags
[submodule "third-party/leveldb"]
	path = third-party/leveldb
	url = https://github.com/google/leveldb.git
[submodule "third-party/snappy"]
	path = third-party/snappy
	url = https://github.com/google/snappy
[submodule "third-party/crc32c"]
	path = third-party/crc32c
	url = https://github.com/google/crc32c.git
[submodule "third-party/openssl"]
	path = third-party/openssl
	url = https://github.com/openssl/openssl.git
[submodule "third-party/jsoncpp"]
	path = third-party/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp.git
[submodule "third-party/aws-sdk-cpp"]
	path = third-party/aws-sdk-cpp
	url = https://github.com/aws/aws-sdk-cpp.git
[submodule "third-party/third-party/fmt"]
	path = third-party/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "third-party/third-party/spdlog"]
	path = third-party/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "third-party/third-party/incbin"]
	path = third-party/incbin
	url = https://github.com/graphitemaster/incbin.git
[submodule "third-party/curl"]
	path = third-party/curl
	url = https://github.com/curl/curl.git
[submodule "third-party/libuuid-cmake"]
	path = third-party/libuuid-cmake
	url = https://github.com/gershnik/libuuid-cmake.git
